<a href="https://colab.research.google.com/github/Arif-X/SVM-SVC/blob/master/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link Video: https://drive.google.com/drive/folders/1vrcfrAPKpdTdxZxzmNswcQpidTKYZH6m?usp=sharing
Link Program (Github): https://github.com/Arif-X/SVM-SVC
Link Program (Colab): https://colab.research.google.com/drive/1Y0Sg6Z37srkF4mFlXpORmNtM2MwYPdvH?usp=sharing
Pada program ini diterapkan pada studi kasus klasifikasi panas dingin CPU berdasarkan suhu. Dan berikut langkah-langkahnya

Import semua paket yang diperlukan

In [ ]:
import numpy as np
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pandas as pd

Read file CSV untuk dataset (dataset buat sendiri)

In [ ]:
pd.set_option('display.max_colwidth', None)
df = pd.read_csv('/content/SVM.csv')
df

   Jam 1  Jam 2  Jam 3  Jam 4 Keterangan
0     25     30     25     35      Panas
1     20     25     25     25     Dingin
2     30     35     30     40      Panas
3     35     40     30     35      Panas
4     10     25     10     20     Dingin
5     10     15     20     15     Dingin
6     50     40     45     45      Panas
7     30     25     25     35      Panas
8     35     30     25     30     Dingin
9     20     25     15     20     Dingin

Ubah value dari kolom Keterangan menjadi label (0, 1)

In [ ]:
enc = LabelEncoder()
df['Keterangan'] = enc.fit_transform(df['Keterangan'].values)
df

   Jam 1  Jam 2  Jam 3  Jam 4  Keterangan
0     25     30     25     35           1
1     20     25     25     25           0
2     30     35     30     40           1
3     35     40     30     35           1
4     10     25     10     20           0
5     10     15     20     15           0
6     50     40     45     45           1
7     30     25     25     35           1
8     35     30     25     30           0
9     20     25     15     20           0

Data atribut merupakan suhu dari jam 1 sampai 4

In [ ]:
attr = df.drop(columns='Keterangan')
attr

   Jam 1  Jam 2  Jam 3  Jam 4
0     25     30     25     35
1     20     25     25     25
2     30     35     30     40
3     35     40     30     35
4     10     25     10     20
5     10     15     20     15
6     50     40     45     45
7     30     25     25     35
8     35     30     25     30
9     20     25     15     20

Jadikan value dari kolom Keterangan ke klasifikasi

In [ ]:
cls = df['Keterangan']
cls

0    1
1    0
2    1
3    1
4    0
5    0
6    1
7    1
8    0
9    0
Name: Keterangan, dtype: int64

Pada code ini menggunakan 20% dari jumlah data sebagai data test dan 80% sebagai data train.

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(attr, cls, test_size = 0.2)
tree = SVC()
tree.fit(x_train, y_train)

SVC()

Buat model SVC dengan kernel linear

In [ ]:
model = SVC(
    C = 10,
    cache_size = 200,
    decision_function_shape = 'ovr',
    gamma = 1.0,
    kernel = 'linear',
    max_iter = 1,
    random_state = 0,
    tol = 0.00001,
    verbose = False
    )

model = model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:289: ConvergenceWarning: Solver terminated early (max_iter=1).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  ConvergenceWarning,

Buat prediksi dan bandingkan antara data aktual dan data yang telah diprediksi

In [ ]:
prediction = model.predict(x_test)
print("Actual: ", y_test)
print("Prediction", prediction)

Actual:  5    0
8    0
Name: Keterangan, dtype: int64
Prediction [0 1]

Hitung akurasi dari prediksi

In [ ]:
false = (prediction != y_test).sum()
true = (prediction == y_test).sum()
print("False prediction: ", false)
print("True prediction: ", true)
print("accuration: ", true / (true + false) * 100, '%')

False prediction:  1
True prediction:  1
accuration:  50.0 %